matplotlib
numpy
pandas
plotly
requests
scikit-learn
seaborn
streamlit

# Composants Streamlit personnalisés
git+https://github.com/andfanilo/st-clickable-images.git
git+https://github.com/gvillalobos88/st-on-hover-tabs.git


