# macOS system files
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environnements virtuels
env/
venv/
.venv/
ENV/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Données temporaires ou sensibles
*.log
*.sqlite3
*.db
.env
.env.*

# Images ou données inutiles
*.png
*.jpg
*.jpeg
*.gif
